

:root {
    /* The initial values here do not matter at all,
    the variables are set by JS anyway. */
    --text_size: 14px;
    --bg_col: #222;
    --bg_col_empty_iframe: #333;
    --disabled_button_bg: #777;
    --disabled_button_fg: #aaa;
    --error_table_bg: #aa0;
    --error_table_fg: #000;
    --button_bg: #3498db;
    --button_fg: #fff;
    --button_bg_hover: #175782;
    --select_bg: #333;
    --select_fg: #FFF;
    --button_border: 1px;
    --window_border: #CCC;
    --window_bg: #000;
    --project_entry_bg: #000;
    --project_entry_border: #000;
    --window_close_button_bg: #000;
    --window_close_button_fg: #000;
    --window_close_button_bg_highlighted: #000;
    --window_close_button_fg_highlighted: #000;
    --input_bg: #000;
    --input_fg: #000;
    --border_col: #000;
}


* {
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px
}

body {
    font-size: var(--text_size);
    background-color: var(--bg_col);
}

.wrapper {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

/* note: There is no need to set top-bar and xbar height (xbar is the bottom
menu bar). They adapt to the text-size variable
automatically and so does .main-box; the text-size can be
changed by zooming in and out (ctrl and +, ctrl and -) */

.top-bar {
    width: 100%;
    padding: 0px;
    font-size: var(--text-size);
}

.main-box {
    background-color: var(--bg_col);
    height: calc(100vh - 70px);
    display: flex;
    flex: 1;
    flex-direction: row;
}

.xbar {
    border-top: 1px solid #CCC;
    padding: 4px;
    font-size: var(--text-size);
    width: 100%;
}

/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */

.inside-browser {
    background: #222;
    color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10000000;
    width: 100vw;
    height: 100vw;
    padding: 3rem;
    font-size: 1.5rem;
    display: none;
}


.error-box-inner {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 18px;
    font: monospace;
}

.editor-error-line {
    /* for showing errors inside codemirror! */
    border: 2px solid #e00;
}

#dev-console {
    position: absolute;
    display: none;
    left: 50vw;
    top: 0px;
    width: 50vw;
    height: calc(100vh - 70px);
    z-index: 1000000;
    overflow: auto;
    background: var(--bg_col);
    color: var(--fg_col);
    font-family: monospace;
    padding: 10px;
}



input[type="text"] {
    background: var(--input_bg);
    color: var(--input_fg);
    border: 1px solid var(--border_col);
    border-radius: 4px;
    font-size: var(--text-size);
}

input[type="text"].invalid {
    color: #D00;
}




.forbidden-project {
    border: 2px solid #D00;
}

select {
    background-color: var(--select_bg);
    color: var(--select_fg);
    font-size: var(--text_size);
    max-width: 120px;
}



#myfile {
    display: none;
}


#main-box-column-editor {
    width: 50vw;
    height: 100%;
}


#main-box-column-preview {
    background-color: var(--bg_col);
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


/* ################ */
.preview-area-tabs {
    font-size: var(--text_size);
    padding: 4px;
    display: block;
    padding-bottom: 0px;
    user-select: none;
    border-bottom: 1px solid var(--fg_col); 
}

.preview {
    width: 100%;
    border:  1px solid var(--bg_col_empty_iframe);
    flex: 1;
    overflow: hidden;
}


.error-box {
    z-index: 10000;
    background: var(--bg_col);
    color: var(--fg_col);
    padding: 10px;
    width: 100vw;
    overflow: auto;
    font-family: sans-serif;
    border: 0px solid #D00;
    width: 100%;
}

/* ################ */

.tab {
    background: var(--button_bg);
    color: var(--button_fg);
    border: var(--button_border) solid var(--button_fg);
    font-family: sans-serif;
    font-size: var(--text_size);
    margin: 6px;
    margin-bottom: 0px;
    cursor: pointer;
    border-radius: 8px 8px 0px 0px;
    width: auto;
    display: inline-block;
    user-select: none;
    padding: 8px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px; 
}

.tab.unslctd {
    padding: 4px;
}

.tab-box {
    width: 100%;
    height: 100%;
}

.tab-box-help {
    overflow: auto;
    display: none;
}

#preview-iframe {
    border: 0;
    width: 100%;
    height: 100%;
    background: var(--bg_col_empty_iframe);
}

.my-button {
    background: var(--button_bg);
    color: var(--button_fg);
    border: var(--button_border) solid var(--button_fg);
    font-family: sans-serif;
    font-size: var(--text_size);
    padding: 10px;
    margin: 6px;
    cursor: pointer;
}

.my-button:hover {
    background: var(--button_bg_hover);
    color: var(--button_fg_hover);
}


.my-button-disabled {
    background: var(--disabled_button_bg);
    color: var(--disabled_button_fg);
    opacity: 0.4;
}

.my-button-disabled:hover {
    background: var(--disabled_button_bg);
    color: var(--disabled_button_bg);
    cursor: auto;
}

.dev-box {
    padding: 8px;
    position: absolute;
    top: 0px;
    left: 0px;
    color: var(--fg_col);
    z-index: 200000;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background: var(--bg_col);
}

#transpile-show-table {
    background: var(--bg_col);
    color: var(--fg_col);
    border: 1px solid var(--fg_col);
    border-collapse: collapse;
    font-size: var(--text_size);
    font-family: monospace;
}

th {
    border: 1px solid var(--fg_col);;
}

td {
    border: 1px solid var(--fg_col);;
    padding: 4px;
}


.error-text-code-show {
    font-family: monospace;
    font-size: var(--text_size);
    line-height: 10px;
    border: 1px solid var(--fg_col);
    padding: 10px;
}



.error-text-code-show-highlighted {
    background: var(--error_table_bg);
    color: var(--error_table_fg);
    padding: 12px;
}


a {
    color: var(--fg_col);
}